/App/AppInfo/Launcher/PuTTYPortable.ini
/App/AppInfo/Launcher/splash.jpg
/App/AppInfo/appicon.ico
/App/AppInfo/appicon_16.png
/App/AppInfo/appicon_32.png
/App/AppInfo/appinfo.ini
/App/ReadMe.txt
/App/putty/PUTTY.CHM
/App/putty/PUTTY.CNT
/App/putty/PUTTY.HLP
/App/putty/pageant.exe
/App/putty/plink.exe
/App/putty/pscp.exe
/App/putty/psftp.exe
/App/putty/putty.exe
/Data/*
Other/Help/*
/Other/Source/AppNamePortable.ini
/Other/Source/License.txt
/Other/Source/Readme.txt
/PageantPortable.exe
/PuTTYPortable.exe
/help.html
/puttygen.exe
/PuttyPortableExtrasInstaller-0.62.exe
/App/putty/putty-real.exe
/App/putty/putty-tray.exe
/PageantPuTTYPortable.exe
/PuttyPortableExtrasInstaller-0.62-1.exe
/PuttyPortableExtrasInstaller-0.62-2.exe
/PuttyPortableExtrasInstaller-0.62-3.exe
/PuttyPortableExtrasInstaller-0.62-3.exe
/PuttyPortableExtrasInstaller-0.62-3.exe
